[submodule "frameworks/Live2D"]
	path = frameworks/Live2D
	url = https://github.com/Xrysnow/cocos2d-x-live2d.git
[submodule "frameworks/Audio"]
	path = frameworks/Audio
	url = https://github.com/Xrysnow/cocos2d-x-audio.git
[submodule "frameworks/imgui"]
	path = frameworks/imgui
	url = https://github.com/Xrysnow/cocos2d-x-imgui.git
[submodule "frameworks/Math"]
	path = frameworks/Math
	url = https://github.com/Xrysnow/lstgx_Math.git
[submodule "frameworks/Video"]
	path = frameworks/Video
	url = https://github.com/Xrysnow/cocos2d-x-video.git
[submodule "frameworks/external"]
	path = frameworks/external
	url = https://github.com/Xrysnow/lstgx_external.git
[submodule "frameworks/cocos2d-x"]
	path = frameworks/cocos2d-x
	url = https://github.com/Xrysnow/cocos-x.git
[submodule "src"]
	path = src
	url = https://github.com/Xrysnow/lstgx_LuaCore.git
[submodule "doc"]
	path = doc
	url = https://github.com/Xrysnow/lstgx_Doc.git
